<nav>
    <ul>
        <li>
            <a href="https://evening-refuge-21095.herokuapp.com/">Home</a>
        </li>
        <li>
            <a href="https://evening-refuge-21095.herokuapp.com/">Code</a>
        </li>

    </ul>
</nav>