<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>

    <link rel="stylesheet" href="css/index.css">
</head>
<body>
{{> nav}}

<main>
    <section>
        <p>Welcome Back!</p>
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Submit">
        </form>
        <p>{{success_login}}</p>
    </section>
    <section>
        <p>Register</p>
        <form method="POST" action="/register">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Submit">
        </form>
        <p>{{success_register}}</p>
    </section>
</main>

{{> footer}}

</body>
<script src="js/index.js"></script>
</html>
