<link rel="stylesheet" href="../main.css">

<center>
<nav>
    <ul>
        <li>
            <a href="https://evening-refuge-21095.herokuapp.com/">Cards</a>
        </li>
        <li>
            <a href="https://evening-refuge-21095.herokuapp.com/2">Nasa</a>
        </li>

    </ul>
</nav>
</center>