<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
      <title>{{title}}</title>
  </head>
  <body>
    {{> header}}
    <div id="bg"></div>
    <div class="container">
      {{> gallery_form}}
    </div>
  </body>
</html>