<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Home Page</title>

</head>
<body>
{{> nav}}

<main>
    asd
    <section>
        <!--REPLACE /LOGIN-->
        <form method="POST" action="/input">
            <input type="text" name="user" placeholder="What you want to search">
        </form>
    </section>
</main>
</body>
</html>
