<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Home Page</title>
    <link rel="stylesheet" href="../main.css">
    <script>
    </script>

</head>
<center>

    <body>
    {{>nav}}

    <main>
        <section>
            <!--REPLACE /LOGIN-->
            <form method="POST" action="/input2">
                <input type="integer" name="user" placeholder="What you want to search" required>
                <input type="submit">
            </form>

                <form method="post" action="/getpicture">
                    <label><b>Search Nasa Pictures: </b></label>
                    <label>
                        <input type="text" placeholder="Search Pictures" name="nasa">
                        <input type="submit" value="Submit">
                    </label>
                </form>




        </section>
    </main>
</center>

</body>
</html>
